    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* common */
    
    .clear {
        clear: both;
    }
    
    .text-center {
        text-align: center !important;
    }
    
    .text-white {
        color: #fff !important;
    }
    
    .col {
        float: left;
    }
    
    .col-half {
        width: 50%;
    }
    
    .col-full {
        width: 100%;
    }
    
    .col-third {
        width: 33.33333%;
    }
    
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    
    #header {
        height: 46px;
        background-color: #000;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }
    
    #nav {
        list-style-type: none;
    }
    
    #nav .small-nav {
        font-size: 12px;
    }
    
    #nav>li {
        display: inline-block;
        position: relative;
    }
    
    #nav>li>a {
        color: #fff;
        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
        text-transform: uppercase;
        font-size: 15px;
    }
    
    #nav>li:hover>a {
        background-color: #ccc;
        display: inline-block;
    }
    
    #nav .subnav {
        list-style-type: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: none;
    }
    
    #nav .subnav a {
        text-decoration: none;
        color: black;
        padding: 8px 16px;
        display: block;
    }
    
    #nav li:hover .subnav {
        display: block;
    }
    
    #nav .subnav li:hover {
        background: #ccc;
    }
    
    #slider {
        padding-top: 50%;
        margin-top: 46px;
        background: url('https://www.w3schools.com/w3images/la.jpg') top center no-repeat;
        background-size: cover;
        position: relative;
    }
    
    #slider .text-content {
        position: absolute;
        bottom: 0;
        margin-bottom: 48px;
        left: 0;
        right: 0;
        text-align: center;
    }
    
    #slider .text-heading {
        color: white;
        font-weight: 500;
        margin-bottom: 25px;
    }
    
    #slider .text-decoration {
        color: white;
    }
    
    #content .content-section {
        width: 800px;
        margin: auto;
        padding: 64px 16px;
    }
    
    #content .section-heading {
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        letter-spacing: 4px;
    }
    
    #content .section-suvheading {
        text-align: center;
        font-size: 15px;
        margin-top: 25px;
        font-style: italic;
        opacity: 0.5;
    }
    
    #content .about-text {
        margin-top: 25px;
        font-size: 15px;
        text-align: justify;
        line-height: 1.4;
    }
    
    .member-list .member-item {
        width: calc(100%/3);
        text-align: center;
        margin: 48px 0;
    }
    
    .member-list img {
        width: 154px;
        border-radius: 4px;
    }
    
    .member-list .member-name {
        margin: 15px 0;
        font-size: 15px;
    }
    
    .background-tour {
        background-color: black;
    }
    
    .background-tour ul {
        list-style-type: none;
        margin-top: 25px;
        background-color: white;
    }
    
    .background-tour li {
        color: #757575;
        border-bottom: 1px solid #ddd;
        padding: 10px 16px;
    }
    
    .background-tour .red {
        margin-left: 16px;
        background-color: red;
        color: white;
        padding: 3px 7px;
    }
    
    .background-tour .number3 {
        float: right;
        background-color: black;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        color: white;
        text-align: center;
        line-height: 24px;
        margin-top: -3px;
    }
    
    .content-section .place {
        padding-top: 32px;
        margin-left: -8px;
        margin-right: -8px;
        padding-bottom: 64px;
    }
    
    .content-section .place-item {
        padding: 0 8px;
    }
    
    .content-section .place-item .img {
        width: 100%;
        display: block;
    }
    
    .place-item .img:hover {
        opacity: 0.6;
    }
    
    .place .place-content {
        background-color: #fff;
        padding: 0 16px;
    }
    
    .place .place-content .content-heading,
    .content-year,
    .content-body {
        padding-top: 15px;
        font-size: 15px;
    }
    
    .place-content .content-year {
        opacity: 0.6;
    }
    
    .btn-buy {
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 11px 16px;
        display: inline-block;
        margin: 15px 0;
    }
    
    .btn-buy:hover {
        background-color: #ccc;
        color: black;
    }